<!--
Preston Loveland
Assignment 3
Section 1 Group 11-->
@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Film Collection</h1>
    <br /><br />
    <h2>Presented to you by the Joel Hilton!</h2>
    <img src="~/joel_hilton.jpg" alt="Joel Hilton picture" width="500" />
</div>
